body {
    background-image: url(1YGOpro/jadenyuki.png);
 }

 header {
    height: 100px;
    text-align: center;
}

 h1{
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    background-color: rgb(216, 70, 70);
    background-image: url(1YGOpro/DLMb.jpg);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

a {
    color: rgb(255, 255, 255);
}

nav a {
    text-decoration: none;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

main {
    background-color: rgba(0, 0, 0, 0.192);
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-left: 240px;
    padding-right: 240px;
    text-align: center;

}

.yugigif{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font: bold;
}

h3{
    font-size: 80px;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}